.page {
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page__content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
  padding: 32px 0 0;
}

@media screen and (max-width: 767px) {
  .page__content {
    padding: 18px 16px 0;
  }
}
