@import "./vendor/normalize.css";
@import "./vendor/fonts.css";

:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background: #f3f3f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}
